{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Excel{% endblock title %}

{% block body %}
    <h1>Download Excel File</h1>
    <br>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p><strong>{{ form.templates.label }}*</strong></p>   
            <div class="row pb-5">
                {% if form.templates %}
                    {% for template in form.templates %}
                    <div class="col-sm-3">
                        {{template}}
                    </div> 
                    {% endfor %}
                {% else %}
                    <p>No templates yet!</p>

                {% endif %}
            </div>

            <br>
            <input type="submit" class="btn btn-success" value="Download Excel">
        </form>
    </div>

{% endblock body %}