{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Generate{% endblock title %}

{% block body %}
    <h1>Create Documents </h1>
    <h3>This Can Only Be Done After Client's Particulars Have Been Filled in the Excel Data File</h3>
    <br>
    <a href="{% url 'app:generate' %}" class='btn btn-primary'>Individual Selection</a>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p><strong>{{ form.label.label }}*</strong></p>   
            <div class="row pb-5">
                {% if form.label %}
                    {% for label in form.label %}
                    <div class="col-sm-3">
                        {{label}}
                    </div> 
                    {% endfor %}
                {% else %}
                    <p>No templates yet!</p>

                {% endif %}
            </div>
            
            <div>
                <p><strong>{{ form.datafile.label }}*</strong></p>
                {{ form.datafile }}
            </div>

            <br>
            <input type="submit" class="btn btn-primary" value="Generate">
        </form>
    </div>

{% endblock body %}