{% extends 'app/base.html' %}

{% block title %}{% endblock title %}

{% block body %}
    {% if not templates %}

        <h1>No templates</h1>

            
    
    {% else %}
    <form action="">
        <div class='container-fluid'>
            <div class="card text mb-3">
                {% for template in templates %}
                    <div class="card-header">
                        <h3>{{ template.0 }}</h3>
                    </div>
                    <ol class="list-group-numbered">
                            {% for doc in template.1 %}
                            <br>
                            <li class="list-group-item">
                                <strong class="mx-5">{{ doc.name }} | {{ doc.timestamp }}</strong>
                                <a href="{% url 'app:get-csv' doc.id %}" class='btn btn-success pull-right'> Data File </a>
                                <a href="{% url 'app:doc-download' doc.id 1 %}" class="btn btn-primary">Download</a> 
                                {% if superuser %}
                                    <a href="{% url 'app:delete-template' doc.id %}" class='btn btn-danger pull-right'> Delete </a>
                                {% endif %}
                                

                            </li>      
                            {% endfor %}
                    </ol>
                {% endfor %}
            </div>
        </div>

        <div>
            <a href="{% url 'app:get-csv-all' %}" class="btn btn-success">Get General Data File</a>
        </div>
    </form>
    {% endif %}
    

{% endblock body %}