{% extends 'app/base.html' %}

{% block title %}{% endblock title %}

{% block body %}
    {% if not templates %}

        <h1>No templates</h1>

            
    
    {% else %}
    <form action="">
        <div class='container-fluid'>
            <div class="card text mb-3">
                <div class="card-header">
                    <h3>Templates</h3>
                </div>
                <ol class="list-group-numbered">
                    {% for template in templates %}
                        <br>
                        <li class="list-group-item">
                            <strong class="mx-5">{{ template.name }}</strong>
                            <a href="{% url 'app:get-csv' template.id %}" class='btn btn-success pull-right'> Data File </a> 
                            {% if superuser %}
                                <a href="{% url 'app:delete-template' template.id %}" class='btn btn-danger pull-right'> Delete </a>
                            {% endif %}
                            

                        </li>      
                    {% endfor %}
                </ol>

            </div>
        </div>

        <div>
            <a href="{% url 'app:get-csv-all' %}" class="btn btn-success">Get General Data File</a>
        </div>
    </form>
    {% endif %}
    

{% endblock body %}