{% extends 'app/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Upload{% endblock title %}

{% block body %}
    <h1>Upload Template</h1>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form|crispy }}
        <br>
        <input type="submit" class='btn btn-success' value="Upload File">


    </form>
    <h2>If you don't see the group you want, add it below</h2>

    <form method="POST">
        {% csrf_token %}

        {{ labelform|crispy }}
        <input type="submit" class="btn btn-secondary" value="Add Group">
    </form>

    


{% endblock body %}